# Python cache files
__pycache__/
*.pyc
*.pyo
# Local Netlify folder
.netlify
.env
#Jupyter NoteBooks for Data Creation
RefrenceLibraryCreation.ipynb
YOLODatasetCreation.ipynb
#Proof of concept Exploratory Analysis
ProofOfConcept/
